extends ../base

block body
  main.main
    .forgotPassword-form
      a(href='/login').btn--title &#10006;
      h1.logo SapbaShop
      h2 Forgot Password
      form.form.form-forgotPassword
        .form__group
          label.form__label(for='email') Email address
            input#email.form__input(type='email', placeholder='user@email.com', required)
        .btn-bar
          button.btn Submit

  footer
    script(type='module', src='/js/bundled/sapba-login.js')
