extends ../base

block content
  main.main
    if products
      include ../layout/_productsList
    else if product
      include ../layout/_productDetails
    else
      include ../layout/_productAddForm
