mixin productsListItem(product)
  a.btn.products-list-item(href=`/products/${product.slug}`)
    //i.products-list-item__image image
    span.products-list-item__name= product._id
    span.products-list-item__name= product.nameTh
