header.header
  .nav.nav--dashboard
    .nav__menu.btn--title#menu Menu
    .nav__title= title
    .nav__account.btn--title.dropdown My Account
      .dropdown-content
        a(href='/me') Edit Account
        a#logout Logout
