include ../mixin/product-mixins
section.products-list
  .products-list-header
    .products-list-header__left
      if user.role !== 'employee'
        a(href='/products/addProduct'): img.btn--add-icon(src='/img/icons/icons8-add-new-48.png' alt='Add new product button')
    .products-list-header__center All Products
    .products-list-header__right
      form.form.search(id='search', data-model='products')
        input.search-box(type='search', id='search-box', placeholder='Search Products')
        button.btn--search(form='search'): img.btn--search-icon(src='/img/icons/icons8-search-48.png' alt='Magnifing glass search button')
  .products-list-content 
    each product in products
      +productsListItem(product)
