include ../mixin/product-mixins
.products-list
  .products-list-header
    .products-list-header__left All Stores
    .products-list-header__center All Products
    .products-list-header__right search bar
  .products-list-content 
    each product in products
      +productsListItem(product)
