.side-nav#side-nav
  a.side-nav__item#closeMenu &#10006;
  a.logo SapbaShop
  a.side-nav__item(href='/dashboard') Dashboard
  a.side-nav__item(href='/products') Products
  a.side-nav__item(href='/stores') Stores
  a.side-nav__item(href='/users') Users
