include ../mixin/store-mixins
section.stores-list
  .stores-list-header
    .stores-list-header__left All Stores
    .stores-list-header__center All Stores
    .stores-list-header__right Search bar
  .stores-list-content 
    each store in stores
      +storeListItem(store)
