section.store-details
  .store-details-header
    .store-details-header__left
    .store-details-header__center= `${store.bnum.en}, ${store.street.en}`
    .store-details-header__right
  .store-details-content
