include ../mixin/store-mixins
section.stores-list
  .stores-list-header
    .stores-list-header__left Search
    .stores-list-header__center All Stores
    a.stores-list-header__right.btn.btn--add(href='/stores/addStore') Add
  .stores-list-content 
    each store in stores
      +storeListItem(store)
