include ../mixin/user-mixins
section.users-list
  .users-list-header
    .users-list-header__left
      //- TODO: add search for users
      //- img.btn--search-icon(src='/img/icons/icons8-search-48.png' alt='Magnifing glass search button')
    .users-list-header__center All Users
    a.users-list-header__right(href='/users/addUser')
      img.btn--add-icon(src='/img/icons/icons8-add-new-48.png' alt='Add new store button')
  .users-list-content
    .users-list-item.users-list-item__header
      span.users-list-item__role Role
      span.users-list-item__name Name
      span.users-list-item__email Email
      span.users-list-item__store Store
    each user in users
      +userListItem(user)
