section.user-details
  .user-details-header
    a.user-details-header__left(href='/users')
      button.btn--close: img(src='/img/icons/icons8-close-window-48.png', alt='Close form button')
    .user-details-header__center New User Form
    .user-details-header__right

  .user-details-content
    form.form.form-user(data-model='users' id='users-add')

      fieldset.form__group
        label.form__label.user-img(for='photo')
          img(src='/img/icons/icons8-test-account-100.png')
        //input.form__input(type='file', id='photo' name='photo', accept='image/png, image/jpeg')

      fieldset.form__group
        label.form__label(for='store') Store
        select(id='store', name='store', required)
          each store in stores
            option(value=store._id)= `${store.bnum.en}, ${store.street.en}`

      fieldset.form__group
        label.form__label(for='role') Role
        select(id='role', name='role', required)
          each role in roles
            option= role

      fieldset.form__group
        label.form__label(for='name') Name
        input.form__input(type='text', id='name' name='name', placeholder='Kylin' , required)

      fieldset.form__group
        label.form__label(for='street-en') Email
        input.form__input(type='email', id='email' name='email', placeholder='kylin@sapbashop.com', required)

      fieldset.form__group
        label.form__label(for='password') Password
        input.form__input(type='password', id='password', name='password', placeholder='••••••••', required, minlength='8')

      fieldset.form__group
        label.form__label(for='passwordConfirm') Password Confirmation
        input.form__input(type='password', id='passwordConfirm' name='passwordConfirm', placeholder='••••••••', required, minlength='8')

  .btn-bar
    button.btn--save(form='users-add') Save
