extends ../base

block append head
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.2/chart.js')

block content
  .main.main-dashboard
    block main
      each store in stores
        .chart-current-report= `${store.bnum.en}, ${store.street.en}`
          canvas(id=`${store._id}`)
