extends ../base
include ../mixin/store-mixins

block append head
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.2/chart.js')

block content
  main.main
    block main
      if stores.length === 0 || !stores
        h2.center Add a Store to get started!
      else
        .dashboard
          block dashboard
            .reports
              each store in stores
                +chartCurrentReport(store)
