extends base

block content
  main.main
    .login-form
      h1.logo SapbaShop
      form.form.form-login
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='you@email.com', required)
        .form__group
          label.form__label(for='password') Password
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group.btn-bar
          button.btn Login
      a.login-form__forgotPassword(href='#') Forgot Password?

block footer
  script(type='module', src='/js/login.js')
