* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  min-height: 100vh;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: black;
  min-height: 100vh;
  min-width: 35rem;
  background-color: #fff;
}

.main {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  display: block;
  text-align: center;
  margin: 2rem;
  font-weight: 700;
  font-size: 3.5rem;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: #88bb92;
}
.nav__menu, .nav__account {
  width: 15rem;
}
.nav__title {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  overflow-wrap: normal;
}

.side-nav {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: #599b67;
  overflow-x: hidden;
  transition: all 0.5s;
}
.side-nav .logo {
  margin: 7rem 0.5rem;
}

.side-nav__item,
.side-nav__item:link,
.side-nav__item:visited {
  -webkit-appearance: none;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  font-weight: 550;
  display: block;
  padding: 2rem;
  margin: 1.5rem 1rem;
  cursor: pointer;
  background-color: #fff;
}
.side-nav__item:hover, .side-nav__item:focus,
.side-nav__item:link:hover,
.side-nav__item:link:focus,
.side-nav__item:visited:hover,
.side-nav__item:visited:focus {
  outline: 0.2rem solid #ff7730;
}

#closeMenu {
  background-color: transparent;
  margin: 0.5rem;
  position: absolute;
  border: none;
  top: 0;
  right: 0.1em;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  background-color: #88bb92;
  padding: 3rem;
  margin: 0 auto;
  margin-top: 10%;
  border-radius: 1.5rem;
  width: fit-content;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.25);
}
@media (min-width: 550px) {
  .login-form {
    width: 50rem;
  }
}
.login-form__forgotPassword {
  font-size: 1.5rem;
}

fieldset {
  border: none;
  box-shadow: 0.2rem 0.2rem 1rem 0.1rem rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 0.8rem;
  padding: 2rem 5rem;
  row-gap: 1rem;
  display: grid;
  align-items: center;
}
@media (min-width: 600px) {
  fieldset {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  fieldset .form__set-title {
    grid-row: span 2;
  }
  fieldset .form__label:only-of-type {
    grid-row: span 2;
  }
}

.form__set-title {
  font-weight: 700;
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__group:disabled .form__input {
  transition: none;
}
.form__group:disabled .form__input:hover, .form__group:disabled .form__input:focus {
  transform: none;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  box-shadow: none;
}
.form__group:disabled .form__input:disabled {
  -webkit-text-fill-color: black;
  opacity: 1;
  color: black;
  background-color: #eee;
}

.form__label {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
}

.form__input {
  display: block;
  -webkit-appearance: none;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  padding: 1.25rem 1.75rem;
  border: none;
  width: 100%;
  background-color: #fff;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 1.5rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.form__input:hover, .form__input:focus {
  outline: none;
  transform: scale(1.05);
  border-bottom: 3px solid #55c57a;
  -webkit-box-shadow: 0 -0.5rem 1rem 0.2rem rgba(255, 119, 48, 0.3);
  box-shadow: 0rem -0.5rem 1rem 0.2rem rgba(255, 119, 48, 0.3);
}
.form__input:hover:invalid, .form__input:focus:invalid {
  border-bottom: 3px solid #ed4337;
}
.form__input::-webkit-input-placeholder {
  color: #bbb;
}

.alert {
  position: fixed;
  top: 10vh;
  left: 50vw;
  z-index: 9999;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #eee;
  text-align: center;
  font-weight: 700;
  font-size: 1.8rem;
  text-align: center;
  padding: 3rem 10rem;
  border-radius: 1.5rem;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.25);
}
.alert-pass {
  background-color: #55c57a;
}
.alert-fail {
  background-color: #ed4337;
}

.btn, .btn--title,
.btn:link,
.btn:visited {
  -webkit-appearance: none;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  cursor: pointer;
  font-weight: 550;
  background-color: #fff;
  transition: all 0.3s;
  border-radius: 1.5rem;
  border: solid #97c3a5;
}
.btn:hover, .btn--title:hover, .btn:focus, .btn--title:focus,
.btn:link:hover,
.btn:link:focus,
.btn:visited:hover,
.btn:visited:focus {
  transform: scale(1.08);
  -webkit-box-shadow: 0 -0.5rem 1rem 0.2rem rgba(255, 119, 48, 0.3);
  box-shadow: 0rem -0.5rem 1rem 0.2rem rgba(255, 119, 48, 0.3);
  outline: none;
}
.btn:active, .btn--title:active,
.btn:link:active,
.btn:visited:active {
  transform: translateY(3px);
}

.btn-bar {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
}
.btn-bar .btn, .btn-bar .btn--title {
  width: 11rem;
}
.btn-bar .btn:only-of-type, .btn-bar .btn--title:only-of-type {
  grid-column: 2;
  justify-self: center;
}
.btn-bar .btn--delete {
  justify-self: start;
}
.btn-bar .btn--save {
  grid-column: 3;
  justify-self: end;
}

.btn--title {
  border: none;
  background-color: #88bb92;
  min-width: fit-content;
}
.btn--title:hover, .btn--title:focus {
  transform: none;
  background-color: #88bb92;
  outline: 0.2rem solid #ff7730;
}

.btn--hidden {
  visibility: hidden;
}

.btn--delete {
  border: none;
  background-color: #ed4337;
}

.btn--save {
  border: none;
  background-color: #55c57a;
}

.dashboard {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  width: 100%;
}

.reports {
  margin-top: 0.5rem;
  width: 100%;
  max-width: 150rem;
  padding: 0.5rem;
  display: grid;
  grid-auto-rows: minmax(min-content, max-content);
  gap: 0.5rem;
  flex: 1 0 auto;
}
@media (min-width: 1000px) {
  .reports {
    grid-template-columns: repeat(8, 8fr);
  }
}

.chart-current-report {
  display: flex;
  flex-direction: column;
  height: fit-content;
  border-radius: 1.5rem;
  background-color: #88bb92;
  border: solid #88bb92;
}
@media (min-width: 1000px) {
  .chart-current-report {
    grid-column: span 4;
  }
  .chart-current-report:last-of-type(odd) {
    grid-column: 3/span 4;
  }
  .chart-current-report:only-of-type {
    grid-column: 2/span 6;
  }
}
.chart-current-report canvas {
  margin: 0.5rem;
  border-radius: 0 0 1.5rem 1.5rem;
  background-color: #fff;
}

.products-list {
  min-height: 90vh;
  max-width: 150rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 1rem;
  border: solid #599b67;
  border-radius: 1.5rem;
}
.products-list-header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-items: center;
  align-items: center;
  margin-bottom: 1rem;
  font-weight: 550;
  text-align: center;
}
.products-list-header__left {
  visibility: hidden;
}

.products-list-content {
  display: grid;
  gap: 0.5rem;
}
@media (min-width: 500px) {
  .products-list-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1000px) {
  .products-list-content {
    grid-template-columns: repeat(3, 1fr);
  }
}

.products-list-item {
  display: flex;
  flex-direction: row;
}
.products-list-item__image {
  margin: 0 1em;
}
.products-list-item__name {
  flex: 1 1 auto;
}

.stores-list {
  min-height: 90vh;
  max-width: 150rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 1rem;
  border: solid #599b67;
  border-radius: 1.5rem;
}
.stores-list-header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-items: center;
  align-items: center;
  margin-bottom: 1rem;
  font-weight: 550;
  text-align: center;
}
.stores-list-header__left {
  visibility: hidden;
}
.stores-list-header__right {
  visibility: hidden;
}

.stores-list-content {
  display: grid;
  gap: 1rem;
}
@media (min-width: 600px) {
  .stores-list-content {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1200px) {
  .stores-list-content {
    grid-template-columns: repeat(6, 1fr);
  }
}

.stores-list-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 600px) {
  .stores-list-item {
    grid-column: span 2;
  }
  .stores-list-item:last-of-type {
    grid-column: 2/span 2;
  }
  .stores-list-item:only-of-type {
    grid-column: 2/span 2;
  }
}
@media (min-width: 1200px) {
  .stores-list-item:last-of-type {
    grid-column: span 2;
  }
  .stores-list-item:only-of-type {
    grid-column: 3/span 2;
  }
}

.store-details {
  min-height: 90vh;
  max-width: 150rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 1rem;
  border: solid #599b67;
  border-radius: 1.5rem;
}
.store-details-header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-items: center;
  align-items: center;
  margin-bottom: 1rem;
  font-weight: 550;
  text-align: center;
}

.store-details-content {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}
.store-details-content .form__group {
  background-color: #88bb92;
}

/*# sourceMappingURL=style.css.map */
