* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  min-height: 100vh;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: black;
  min-height: 100vh;
  min-width: 35rem;
}

.logo {
  margin: 2rem;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  background: #88bb92;
}
.nav__menu, .nav__account {
  width: 8rem;
}
.nav__title {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  background-color: #88bb92;
  padding: 5rem;
  margin: 0 auto;
  margin-top: 10%;
  border-radius: 1.5rem;
  width: fit-content;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.25);
}
@media (min-width: 550px) {
  .login-form {
    width: 50rem;
  }
}
.login-form__forgotPassword {
  font-size: 1.5rem;
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}

.form__label {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-left: 1.5rem;
  margin-bottom: 0.75rem;
}

.form__input {
  display: block;
  -webkit-appearance: none;
  font-size: 1.5rem;
  padding: 1.25rem 1.75rem;
  border: none;
  width: 100%;
  background-color: #fff;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 1.5rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.form__input:hover, .form__input:focus {
  outline: none;
  transform: scale(1.05);
  border-bottom: 3px solid #55c57a;
  -webkit-box-shadow: 0 -0.5rem 1rem 0.2rem rgba(255, 119, 48, 0.3);
  box-shadow: 0rem -0.5rem 1rem 0.2rem rgba(255, 119, 48, 0.3);
}
.form__input:hover:invalid, .form__input:focus:invalid {
  border-bottom: 3px solid #ed4337;
}
.form__input::-webkit-input-placeholder {
  color: #bbb;
}

.alert {
  position: fixed;
  top: 10vh;
  left: 50vw;
  z-index: 9999;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #eee;
  text-align: center;
  font-weight: 700;
  font-size: 1.8rem;
  text-align: center;
  padding: 3rem 10rem;
  border-radius: 1.5rem;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.25);
}
.alert-pass {
  background-color: #55c57a;
}
.alert-fail {
  background-color: #ed4337;
}

.btn, .btn--title,
.btn:link,
.btn:visited {
  -webkit-appearance: none;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: black;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  cursor: pointer;
  font-weight: 550;
  background-color: #fff;
  transition: all 0.3s;
  border: solid #599b67;
  border-radius: 1.5rem;
}
.btn:hover, .btn--title:hover, .btn:focus, .btn--title:focus,
.btn:link:hover,
.btn:link:focus,
.btn:visited:hover,
.btn:visited:focus {
  transform: scale(1.08);
  background-color: #fff;
  -webkit-box-shadow: 0 -0.5rem 1rem 0.2rem rgba(255, 119, 48, 0.3);
  box-shadow: 0rem -0.5rem 1rem 0.2rem rgba(255, 119, 48, 0.3);
  outline: none;
}
.btn:active, .btn--title:active,
.btn:link:active,
.btn:visited:active {
  transform: translateY(3px);
}

.btn-bar {
  margin-top: 3rem;
  display: flex;
  justify-content: flex-end;
}
.btn-bar:has(.btn:only-child, .btn--title:only-child) {
  justify-content: center;
}

.btn--title {
  border: none;
  background-color: #97c3a5;
}
.btn--title:hover, .btn--title:focus {
  transform: none;
  background-color: #97c3a5;
  outline: 0.2rem solid #ff7730;
}

.main-dashboard {
  margin-top: 0.5rem;
  min-height: 90vh;
  display: grid;
  grid-auto-rows: minmax(min-content, max-content);
  gap: 0.5rem;
}
@media (min-width: 1000px) {
  .main-dashboard {
    grid-template-columns: repeat(8, 8fr);
  }
}

.chart-current-report {
  display: flex;
  flex-direction: column;
  background-color: #97c3a5;
  height: fit-content;
  border: solid #599b67;
  border-radius: 1.5rem;
}
@media (min-width: 1000px) {
  .chart-current-report {
    grid-column: span 4;
  }
  .chart-current-report:last-of-type {
    grid-column: 3/span 4;
  }
  .chart-current-report:only-of-type {
    grid-column: 2/span 6;
  }
}
.chart-current-report canvas {
  background-color: #fff;
  margin: 0.5rem;
}

.products-list {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 1rem;
  border: thin solid #000000;
}

.products-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.products-list-content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  align-items: center;
}

.products-list-table {
  display: grid;
  gap: 1rem;
  text-align: center;
  border-collapse: collapse;
}

.stores-list {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  margin: 0.5rem;
  padding: 1rem;
  border: thin solid #000000;
}

.stores-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.stores-list-header__left {
  visibility: hidden;
}
.stores-list-header__right {
  visibility: hidden;
}

.stores-list-content {
  display: grid;
  gap: 1rem;
}
@media (min-width: 800px) {
  .stores-list-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .stores-list-content {
    grid-template-columns: repeat(3, 1fr);
  }
}

.stores-list-item {
  display: flex;
  flex-direction: column;
  border: thin solid #000000;
  border-radius: 2rem;
  padding: 0.5rem;
  padding-left: 1rem;
  max-width: 40rem;
  gap: 0.5rem;
}
.stores-list-item:hover {
  background-color: #599b67;
}

/*# sourceMappingURL=style.css.map */
