* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  min-height: 100vh;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: black;
  min-height: 100vh;
  min-width: 35rem;
  background-color: #fff;
}
body .hidden {
  visibility: hidden;
  display: none;
}

.main {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  display: block;
  text-align: center;
  margin: 2rem;
  font-weight: 700;
  font-size: 3.5rem;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  background: #88bb92;
}
.nav__menu-icon {
  width: 30px;
  height: 30px;
}
.nav__account-img {
  width: 50px;
  height: 50px;
}
.nav__title {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  overflow-wrap: normal;
}

.footer {
  display: grid;
  justify-content: center;
}

.side-nav {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: #599b67;
  overflow-x: hidden;
  transition: all 0.5s;
}
.side-nav .logo {
  margin: 7rem 0.5rem;
}

.side-nav__item,
.side-nav__item:link,
.side-nav__item:visited {
  -webkit-appearance: none;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  font-weight: 550;
  display: block;
  padding: 2rem;
  margin: 1.5rem 1rem;
  cursor: pointer;
  background-color: #fff;
}
.side-nav__item:hover, .side-nav__item:focus,
.side-nav__item:link:hover,
.side-nav__item:link:focus,
.side-nav__item:visited:hover,
.side-nav__item:visited:focus {
  outline: 0.2rem solid #ff7730;
}

#closeMenu {
  background-color: transparent;
  margin: 0.5rem;
  position: absolute;
  border: none;
  top: 0;
  right: 0.1em;
}

.dropdown {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
}
.dropdown:hover .dropdown-content, .dropdown:focus .dropdown-content, .dropdown:active .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 70px;
  z-index: 1;
  background-color: #fff;
  width: 15rem;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.25);
}
.dropdown-content a {
  text-decoration: none;
  padding: 1rem;
  display: block;
  color: black;
}
.dropdown-content a:hover, .dropdown-content a:focus, .dropdown-content a:active {
  background-color: #88bb92;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  background-color: #88bb92;
  padding: 3rem;
  margin: 0 auto;
  margin-top: 10%;
  border-radius: 1.5rem;
  width: fit-content;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.25);
}
@media (min-width: 550px) {
  .login-form {
    width: 50rem;
  }
}
.login-form__forgotPassword {
  font-size: 1.5rem;
}

fieldset {
  border: none;
}

textarea {
  font-family: inherit;
  font-size: 100%;
}

select {
  -webkit-appearance: none;
  appearance: none;
  font-size: 100%;
  border: none;
  outline: 0;
  background: url("../img/icons/icons8-down-48.png") no-repeat right 0.5em center/1rem, #fff;
  cursor: pointer;
  padding-right: 2rem;
  text-align: center;
  width: 100%;
  height: 5rem;
  font-family: inherit;
  color: black;
  border-radius: 1.5rem;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}
.toggle input:checked + .slider {
  background-color: #E67E22;
}
.toggle input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
.toggle input:checked + .slider:before {
  transform: translateX(26px);
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #bbb;
  transition: 0.4s;
  border-radius: 0.8rem;
}
.slider:before {
  position: absolute;
  height: 26px;
  width: 26px;
  content: "";
  inset: 4px 4px 0 4px;
  background-color: #fff;
  transition: 0.4s;
  border-radius: 0.5rem;
}

.form__set-title {
  font-weight: 700;
}

.form__group {
  box-shadow: 0.2rem 0.2rem 1rem 0.1rem rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 0.8rem;
  padding: 1rem 1rem;
  gap: 1rem 5rem;
  display: grid;
  justify-items: center;
  background-color: #88bb92;
}
.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__group:disabled .form__input {
  -webkit-text-fill-color: black;
  opacity: 1;
  color: black;
  background-color: #eee;
  transition: none;
}
.form__group:disabled .form__input:hover, .form__group:disabled .form__input:focus {
  transform: none;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  box-shadow: none;
}
.form__group:disabled .select,
.form__group:disabled select {
  -webkit-text-fill-color: black;
  opacity: 1;
  color: black;
  background-color: #eee;
}

.form__label {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
}

.form__input {
  display: block;
  -webkit-appearance: none;
  font-size: 1.5rem;
  padding: 1.25rem 1.75rem;
  border: none;
  background-color: #fff;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 1.5rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.form__input:hover, .form__input:focus {
  outline: none;
  transform: scale(1.05);
  border-bottom: 3px solid #55c57a;
  -webkit-box-shadow: 0 -0.5rem 1rem 0.2rem rgba(255, 119, 48, 0.3);
  box-shadow: 0rem -0.5rem 1rem 0.2rem rgba(255, 119, 48, 0.3);
}
.form__input:hover:invalid, .form__input:focus:invalid {
  border-bottom: 3px solid #ed4337;
}
.form__input::-webkit-input-placeholder {
  color: #bbb;
}

.alert {
  position: fixed;
  top: 10vh;
  left: 50vw;
  z-index: 9999;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #eee;
  text-align: center;
  font-weight: 700;
  font-size: 1.8rem;
  text-align: center;
  padding: 3rem 10rem;
  border-radius: 1.5rem;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.25);
}
.alert-pass {
  background-color: #55c57a;
}
.alert-fail {
  background-color: #ed4337;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  margin: 2rem;
  margin-top: 10%;
  text-align: center;
  gap: 2rem;
  border-radius: 1.5rem;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.25);
  background-color: #bbb;
}
.error-title {
  color: #a63232;
}

.btn, .btn--cancel, .btn--save, .btn--delete,
.btn:link,
.btn:visited {
  -webkit-appearance: none;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  cursor: pointer;
  font-weight: 550;
  background-color: #fff;
  transition: all 0.3s;
  border-radius: 1.5rem;
  border: solid #97c3a5;
}
.btn:hover, .btn--cancel:hover, .btn--save:hover, .btn--delete:hover, .btn:focus, .btn--cancel:focus, .btn--save:focus, .btn--delete:focus,
.btn:link:hover,
.btn:link:focus,
.btn:visited:hover,
.btn:visited:focus {
  transform: scale(1.08);
  -webkit-box-shadow: 0 -0.5rem 1rem 0.2rem rgba(255, 119, 48, 0.3);
  box-shadow: 0rem -0.5rem 1rem 0.2rem rgba(255, 119, 48, 0.3);
  outline: none;
}
.btn:active, .btn--cancel:active, .btn--save:active, .btn--delete:active,
.btn:link:active,
.btn:visited:active {
  transform: translateY(3px);
}

.btn-bar {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
}
.btn-bar .btn, .btn-bar .btn--cancel, .btn-bar .btn--save, .btn-bar .btn--delete {
  width: 11rem;
}
.btn-bar .btn:only-of-type, .btn-bar .btn--cancel:only-of-type, .btn-bar .btn--save:only-of-type, .btn-bar .btn--delete:only-of-type {
  grid-column: 2;
  justify-self: center;
}
.btn-bar .btn--delete {
  justify-self: start;
}
.btn-bar .btn--save {
  grid-column: 3;
  justify-self: end;
}

.btn--title {
  cursor: pointer;
  transition: all 0.3s;
  border: none;
  background-color: #88bb92;
  min-width: fit-content;
  padding: 0.2rem 3rem;
}
.btn--title:hover, .btn--title:focus {
  transform: scale(1.2);
}
.btn--title:active {
  transform: translateY(3px);
}
.btn--title:hover, .btn--title:focus {
  transform: none;
  background-color: #88bb92;
  outline: 0.2rem solid #ff7730;
}

.btn--delete {
  border: none;
  background-color: #ed4337;
}

.btn--save {
  border: none;
  background-color: #55c57a;
}

.btn--cancel {
  border: none;
}

.btn--add-icon,
.btn--delete-icon,
.btn--edit,
.btn--close {
  cursor: pointer;
  transition: all 0.3s;
}
.btn--add-icon:hover, .btn--add-icon:focus,
.btn--delete-icon:hover,
.btn--delete-icon:focus,
.btn--edit:hover,
.btn--edit:focus,
.btn--close:hover,
.btn--close:focus {
  transform: scale(1.2);
}
.btn--add-icon:active,
.btn--delete-icon:active,
.btn--edit:active,
.btn--close:active {
  transform: translateY(3px);
}

.dashboard {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  width: 100%;
}

.reports {
  margin-top: 0.5rem;
  width: 100%;
  max-width: 150rem;
  padding: 0.5rem;
  display: grid;
  grid-auto-rows: minmax(min-content, max-content);
  gap: 0.5rem;
  flex: 1 0 auto;
}
@media (min-width: 1000px) {
  .reports {
    grid-template-columns: repeat(8, 8fr);
  }
}

.chart-current-report {
  display: flex;
  flex-direction: column;
  height: fit-content;
  border-radius: 1.5rem;
  background-color: #88bb92;
  border: solid #88bb92;
}
@media (min-width: 1000px) {
  .chart-current-report {
    grid-column: span 4;
  }
  .chart-current-report:last-of-type:nth-of-type(odd) {
    grid-column: 3/span 4;
  }
  .chart-current-report:only-of-type {
    grid-column: 2/span 6;
  }
}
.chart-current-report canvas {
  margin: 0.5rem;
  border-radius: 0 0 1.5rem 1.5rem;
  background-color: #fff;
}

.products-list {
  min-height: 90vh;
  max-width: 150rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 1rem;
  border: solid #599b67;
  border-radius: 1.5rem;
}
.products-list-header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-items: center;
  align-items: center;
  margin-bottom: 1rem;
  font-weight: 550;
  text-align: center;
}

.products-list-content {
  display: grid;
  gap: 0.5rem;
}
@media (min-width: 500px) {
  .products-list-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1000px) {
  .products-list-content {
    grid-template-columns: repeat(3, 1fr);
  }
}

.products-list-item {
  display: flex;
  flex-direction: row;
}
.products-list-item__image {
  margin: 0 1em;
}
.products-list-item__name {
  flex: 1 1 auto;
}

.product-details {
  min-height: 90vh;
  max-width: 150rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 1rem;
  border: solid #599b67;
  border-radius: 1.5rem;
}
.product-details-header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-items: center;
  align-items: center;
  margin-bottom: 1rem;
  font-weight: 550;
  text-align: center;
}

.product-details-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  flex-grow: 1;
}

.form-product {
  display: grid;
  margin-bottom: 2rem;
  justify-content: center;
}
.form-product .product-desc .form__label,
.form-product .product-desc textarea {
  width: 100%;
}

.department-radio-group {
  display: grid;
  grid-template-columns: 2rem 1fr;
  gap: 0.8rem 1.5rem;
  align-items: center;
}
.department-radio-group input {
  grid-row: span 2;
}
.department-radio-group :nth-child(3n-1) {
  margin-bottom: -0.5rem;
}
.department-radio-group :nth-child(3n) {
  margin-top: -0.5rem;
}

.product-details-table {
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-columns: 3fr 0.5fr 0.5fr 0.5fr 0.1fr;
  gap: 1.5rem 0.5rem;
  justify-items: center;
  align-items: center;
  width: fit-content;
}
.product-details-table .hidden {
  display: block;
}
.product-details-table input {
  text-align: center;
  max-width: 6rem;
  height: 100%;
  padding: 0;
}
.product-details-table .size-disabled {
  visibility: hidden;
}

#hidden-add {
  display: none;
  visibility: hidden;
}

.stores-list {
  min-height: 90vh;
  max-width: 150rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 1rem;
  border: solid #599b67;
  border-radius: 1.5rem;
}
.stores-list-header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-items: center;
  align-items: center;
  margin-bottom: 1rem;
  font-weight: 550;
  text-align: center;
}
.stores-list-header__left {
  visibility: hidden;
}

.stores-list-content {
  display: grid;
  gap: 1rem;
}
@media (min-width: 600px) {
  .stores-list-content {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1200px) {
  .stores-list-content {
    grid-template-columns: repeat(6, 1fr);
  }
}

.stores-list-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 600px) {
  .stores-list-item {
    grid-column: span 2;
  }
  .stores-list-item:last-of-type {
    grid-column: 2/span 2;
  }
  .stores-list-item:only-of-type {
    grid-column: 2/span 2;
  }
}
@media (min-width: 1200px) {
  .stores-list-item:last-of-type {
    grid-column: span 2;
  }
  .stores-list-item:only-of-type {
    grid-column: 3/span 2;
  }
}

.store-details {
  min-height: 90vh;
  max-width: 150rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 1rem;
  border: solid #599b67;
  border-radius: 1.5rem;
}
.store-details-header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-items: center;
  align-items: center;
  margin-bottom: 1rem;
  font-weight: 550;
  text-align: center;
}

.store-details-content {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}
.store-details-content .form__group {
  align-items: center;
}
@media (min-width: 600px) {
  .store-details-content .form__group {
    grid-template-columns: 1fr 2fr;
    gap: 1rem 0;
  }
  .store-details-content .form__group .form__set-title {
    grid-row: span 2;
    justify-self: end;
  }
  .store-details-content .form__group .form__label:only-of-type {
    grid-row: span 2;
  }
}

/*# sourceMappingURL=style.css.map */
