// All buttons
button {
  text-decoration: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: transparent;
}

.btn,
.btn:link,
.btn:visited {
  -webkit-appearance: none;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: $color-btn-text;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  cursor: pointer;
  font-weight: 550;
  background-color: $color-btn;
  transition: all 0.3s;
  border-radius: $border-radius;
  border: solid $color-btn-border;

  &:hover,
  &:focus {
    transform: scale(1.03);
    //background-color: $color-btn-focus-bg;
    @include focus-shadow;
    outline: none;
  }

  &:active {
    transform: translateY(3px);
  }
}

.btn--table {
  @extend .btn;
  border: .1rem solid $color-btn-border;
  background-color: transparent;
  border-radius: 0;
  text-align: left;
  font-weight: normal;
  text-transform: capitalize;
  padding: 0;
}


// Bar at the bottom of forms
.btn-bar {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;

  .btn {
    width: 11rem;
    &:only-of-type {
      grid-column: 2;
      justify-self: center;
    }
    &--delete {
      justify-self: start;
    }
    &--save {
      grid-column: 3;
      justify-self: end;
    }
  }
}

// Selectable titles (have a slug)
.btn--title {
  @extend .btn;
  @include button-icon;
  border: none;
  background-color: $color-btn--title;
  min-width: fit-content;
  padding: 0.2rem 3rem;

  &:hover,
  &:focus {
    transform: none;
    background-color: $color-btn--title-bg;
    outline: 0.2rem solid $color-highlight;
  }
}
// Deletes documents
.btn--delete {
  @extend .btn;
  border: none;
  background-color: $color-btn--delete-bg;
}
// Saves documents
.btn--save {
  @extend .btn;
  border: none;
  background-color: $color-btn--save-bg;
}
// Cancels documents
.btn--cancel {
  @extend .btn;
  border: none;
}
.btn--add-icon,
.btn--delete-icon,
.btn--edit,
.btn--close,
.btn--back {
  @include button-icon;
}
