.btn,
.btn:link,
.btn:visited {
  -webkit-appearance: none;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: $color-btn-text;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  cursor: pointer;
  font-weight: 550;
  background-color: $color-btn;
  transition: all 0.3s;
  @include border;

  &:hover,
  &:focus {
    transform: scale(1.08);
    background-color: $color-btn-focus-bg;
    @include focus-shadow;
    outline: none;
  }

  &:active {
    transform: translateY(3px);
  }
}

.btn-bar {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;

  .btn {
    width: 11rem;
    &:only-of-type {
      grid-column: 2;
      justify-self: center;
    }
    &--delete{
      justify-self: start;
    }
    &--save {
      grid-column: 3;
      justify-self: end;
    }
  }
}

.btn--title {
  @extend .btn;
  border: none;
  background-color: $color-primary;
  min-width: fit-content;

  &:hover,
  &:focus {
    transform: none;
    background-color: $color-primary;
    outline: .2rem solid $color-highlight;
  }
}

.btn--hidden {
  visibility: hidden;
}
