.btn,
.btn:link,
.btn:visited {
  -webkit-appearance: none;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: $color-btn-text;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  cursor: pointer;
  font-weight: 550;
  background-color: $color-btn;
  transition: all 0.3s;
  @include border;

  &:hover,
  &:focus {
    transform: scale(1.08);
    background-color: $color-btn-focus-bg;
    @include focus-shadow;
    outline: none;
  }

  &:active {
    transform: translateY(3px);
  }
}

.btn-bar {
  margin-top: 3rem;
  display: flex;
  justify-content: flex-end;

  // Safari only currently 07/2022
  &:has(.btn:only-child) {
    justify-content: center;
  }
}

.btn--title {
  @extend .btn;
  border: none;
  background-color: $color-primary-light;

  &:hover,
  &:focus {
    transform: none;
    background-color: $color-primary-light;
    outline: .2rem solid $color-highlight;
  }
}
