.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
  width: 100%;
}

.reports {
  margin-top: 0.5rem;
  padding: 0.5rem;
  display: grid;
  grid-auto-rows: minmax(min-content, max-content);
  gap: 0.5rem;
  width: 100%;

  @media (min-width: 1000px) {
    grid-template-columns: repeat(8, 8fr);
  }
}

.chart-current-report {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: $border-radius;
  background-color: $color-chart-bg;
  border: solid $color-chart-border;

  @media (min-width: 1000px) {
    grid-column: span 4;
    &:last-of-type:nth-of-type(odd) {
      grid-column: 3 / span 4;
    }
    &:only-of-type {
      grid-column: 2 / span 6;
    }
  }

  canvas {
    margin: 0.5rem;
    border-radius: 0 0 $border-radius $border-radius;
    background-color: $color-canvas-bg;
  }
}
