.dropdown {
  &:hover,
  &:focus,
  &:active {
    .dropdown-content {
      display: block;
    }
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  text-align: center;
  font-weight: 550;
  cursor: pointer;
  top: 65px;
  right: -1%;
  z-index: 1;
  background-color: $color-dropdown-content-bg;
  width: 15rem;
  text-transform: capitalize;
  @include box-shadow;

  a {
    text-decoration: none;
    padding: 1rem;
    display: block;
    color: $color-dropdown-link;

    &:hover,
    &:focus,
    &:active {
      background-color: $color-dropdown-link-hover;
    }
  }
}
