.dropdown {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;

  &:hover,
  &:focus,
  &:active {
    .dropdown-content {
      display: block;
    }
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 70px;
  z-index: 1;
  background-color: $color-dropdown-content-bg;
  width: 15rem;
  @include box-shadow;

  a {
    text-decoration: none;
    padding: 1rem;
    display: block;
    color: $color-dropdown-link;

    &:hover,
    &:focus,
    &:active {
      background-color: $color-dropdown-link-hover;
    }
  }
}
