.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  background-color: $color-primary;
  padding: 3rem;
  margin: 0 auto;
  margin-top: 10%;
  border-radius: $border-radius;
  width: fit-content;
  .form__group {
    box-shadow: none;
    &:not(:last-child) {
      margin: 0;
    }
  }
  .btn-bar {
    margin-top: 2rem;
  }
  @include box-shadow;
  @media (min-width: 550px) {
    width: 50rem;
  }
  &__forgotPassword {
    font-size: 1.5rem;
  }
}

.forgotPassword-form {
  @extend .login-form;
  gap: 1rem;
  a {
    padding: 1.5rem 2rem;
    align-self: flex-start;
    margin: -2rem 0 -4rem -2rem;
  }
}

//.form-login {}
//.form-store {}

/// Customized form items ///
fieldset {
  border: none;
}
// custom textarea
textarea {
  font-family: inherit;
  font-size: 100%;
}
// Custom select dropdown, designed around product details store
select {
  // remove defaults
  -webkit-appearance: none;
  appearance: none;
  font-size: 100%;
  border: none;
  outline: 0;
  // custom props
  background: url('../img/icons/icons8-down-48.png') no-repeat right 0.5em
      center/ 1rem,
    $color-form-input-bg;
  cursor: pointer;
  padding-right: 2rem;
  text-align: center;
  width: 100%;
  height: 5rem;
  font-family: inherit;
  color: $color-font;
  border-radius: $border-radius;
}
// checkbox / toggle
.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  input {
    opacity: 0;
    width: 0;
    height: 0;
    &:checked + .slider {
      background-color: $color-toggle-checked;
    }
    &:focus + .slider {
      box-shadow: 0 0 1px #2196f3;
    }
    &:checked + .slider:before {
      transform: translateX(26px);
    }
  }
}
// checkbox / toggle slider
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: $color-toggle-unchecked;
  transition: 0.4s;
  border-radius: 0.8rem;
  &:before {
    position: absolute;
    height: 26px;
    width: 26px;
    content: '';
    inset: 4px 4px 0 4px;
    background-color: $color-toggle-sliderblock;
    transition: 0.4s;
    border-radius: 0.5rem;
  }
}

/// Typical form title, fields, labels, and inputs  ///
// Fieldset title
.form__set-title {
  font-weight: 700;
}

// Fieldset replacement
.form__group {
  box-shadow: 0.2rem 0.2rem 1rem 0.1rem rgba($color: #000000, $alpha: 0.2);
  background-color: $color-light;
  border-radius: 0.8rem;
  padding: 1rem 1rem;
  gap: 1rem 5rem;
  display: grid;
  justify-items: center;
  background-color: $color-form__group-bg;
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
  &:disabled {
    .form__input {
      -webkit-text-fill-color: $color-font;
      opacity: 1; // iOS required
      color: $color-font;
      background-color: $color-form-input-bg--disabled;
      transition: none;
      &:hover,
      &:focus {
        transform: none;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
        box-shadow: none;
      }
      //&:disabled { }
    }
    .select,
    select {
      -webkit-text-fill-color: $color-font;
      opacity: 1; // iOS required
      color: $color-font;
      background-color: $color-form-input-bg--disabled;
    }
  }
}

.form__label {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
}

.form__input {
  display: block;
  -webkit-appearance: none; // needed for safari
  font-size: 1.5rem;
  padding: 1.25rem 1.75rem;
  border: none;
  background-color: $color-form-input-bg;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: $border-radius;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  &:hover,
  &:focus {
    outline: none;
    transform: scale(1.05);
    border-bottom: 3px solid $color-form-input-valid;
    @include focus-shadow;

    &:invalid {
      border-bottom: 3px solid $color-form-input-invalid;
    }
  }
  &::-webkit-input-placeholder {
    color: $color-form-input-placeholder;
  }
}
