// Base Header layout style
.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: $color-header-bg;

  &__menu,
  &__account {
    width: 15rem;
  }

  &__title {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    overflow-wrap: normal;
  }
}
