// productsList layout styles
.products-list {
  @include listLayout;
}

.products-list-header {
  @include listHeader;

  //&__left { }

  //&__center { }

  //&__right { }
}

.products-list-content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  align-items: center;
}

.products-list-table {
  display: grid;
  gap: 1rem;
  text-align: center;
  border-collapse: collapse;

//  th,
//  td {
//    padding: 1rem;
//    border-bottom: 0.1rem solid $color-table-borders;
//    overflow: hidden;
//  }
//  tr:nth-child(even) {
//    background-color: $color-table-rows;
//  }
//  tr:not(:first-child):hover {
//    background-color: $color-select-highlight;
//  }
}
