// storesList layout styles
.stores-list {
  @include sectionLayout;
  &-header {
    @include sectionHeader;
    &__left {
      visibility: hidden;
    }
    //&__center { }
    //&__right { }
  }
}

.stores-list-content {
  display: grid;
  gap: 1rem;
  @media (min-width: 600px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (min-width: 1200px) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.stores-list-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (min-width: 600px) {
    grid-column: span 2;
    &:last-of-type {
      grid-column: 2 / span 2;
    }
    &:only-of-type {
      grid-column: 2 / span 2;
    }
  }
  @media (min-width: 1200px) {
    // TODO: nth of type center on grid (not ending with multple of 3)
    &:last-of-type {
      grid-column: span 2;
    }
    &:only-of-type {
      grid-column: 3 / span 2;
    }
  }
}
