// userDetails layout styles
.user-details {
  @include sectionLayout;

  &-header {
    @include sectionHeader;
  }
}

.user-details-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 5rem;

  // Active / Deactiaved Identifier
  .active {
    background-color: $color-active-bg;
    color: $color-active;
    padding: 0.5rem;
    border-radius: $border-radius;
    border: 0.1rem solid $color-active-border;
  }
  .deactivated {
    background-color: $color-deactivated-bg;
    color: $color-deactivated;
    padding: 1rem;
    border-radius: $border-radius;
    border: 0.1rem solid $color-deactivated-border;
  }

  // Account status toggle
  .toggle {
    input {
      &:checked + .slider {
        background-color: $color-active-bg;
      }
    }
  }
  .slider {
    border: 0.2rem solid $color-active-border;
    &:before {
      inset: 2px 2px 0 2px;
    }
  }

  // Set titles to the left for larger screens
  .form__group {
    align-items: center;
    select {
      max-width: 23.6rem;
      text-align: left;
      padding-left: 1.5rem;
    }
    @media (min-width: 600px) {
      grid-template-columns: 1fr 2fr;
      gap: 1rem 0;
      .user-img:only-child {
        grid-column: span 2;
      }
      .form__set-title {
        grid-row: span 2;
      }
    }
  }
}

.form-user {
  display: grid;
  justify-content: center;
  margin-bottom: 2rem;
}

.user-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  img {
    width: fit-content;
  }
}
