@mixin box-shadow {
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba($color: #000000, $alpha: 0.25);
  box-shadow: 0 2.5rem 8rem 2rem rgba($color: #000000, $alpha: 0.25);
}

@mixin focus-shadow {
  -webkit-box-shadow: 0 -.5rem 1rem .2rem $color-focus-shadow;
  box-shadow: 0rem -.5rem 1rem .2rem $color-focus-shadow
}

@mixin border {
  border: solid $color-primary-dark;
  border-radius: $border-radius;
}
