@mixin box-shadow {
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba($color: #000000, $alpha: 0.25);
  box-shadow: 0 2.5rem 8rem 2rem rgba($color: #000000, $alpha: 0.25);
}

@mixin focus-shadow {
  -webkit-box-shadow: 0 -0.5rem 1rem 0.2rem $color-focus-shadow;
  box-shadow: 0rem -0.5rem 1rem 0.2rem $color-focus-shadow;
}

@mixin sectionLayout {
  min-height: $main-height;
  max-width: 150rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 1rem;
  border: solid $color-section-border;
  border-radius: $border-radius;
}

@mixin sectionHeader {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-items: center;
  align-items: center;
  margin-bottom: 1rem;
  font-weight: 550;
  text-align: center;
  text-transform: capitalize;
  &__left {
    justify-self: start;
  }
  &__right {
    justify-self: end;
  }
}

@mixin sectionHeaderWithSearch {
  display: grid;
  grid-template-columns: 5rem 1fr;
  align-items: center;
  margin-bottom: 1rem;
  font-weight: 550;
  text-align: center;
  text-transform: capitalize;
  &__left {
    justify-self: start;
  }
  &__center {
    grid-area: 1/1/1/-1;
  }
  &__right {
    justify-self: stretch;
  }
  @media (min-width: 900px) {
    grid-template-columns: repeat(3, 1fr);

    &__center {
      grid-area: inherit;
    }
    &__right {
      justify-self: end;
    }
  }
}

@mixin button-icon {
  cursor: pointer;
  transition: all 0.3s;
  &:hover,
  &:focus {
    transform: scale(1.2);
  }
  &:active {
    transform: translateY(3px);
  }
}
