// Main colors
$color-primary: #88bb92;
$color-primary-light: #97c3a5;
$color-primary-dark: #599b67;
$color-dark: #000;
$color-light: #fff;
$color-sandy: #c9b8a6;
$color-royalBlue: #4169e1;
$color-gray: #bbb;

// App Globals
$color-highlight: #ff7730;
$color-font: black;
$color-focus-shadow: rgba($color-highlight, $alpha: 0.3);
$color-body-bg: $color-light;

// Alerts
$color-alert: #eee;
$color-alert-pass: #55c57a;
$color-alert-fail: #ed4337;

// Header / Navigation
$color-header-bg: $color-primary;
$color-side-nav-bg: $color-primary-dark;
$color-side-nav__item-bg: $color-light;
$color-btn--title: $color-primary;
$color-btn--title-bg: $color-primary;

// Dropdowns
$color-dropdown-content-bg: $color-light;
$color-dropdown-link: $color-font;
$color-dropdown-link-hover: $color-primary;

// Sections
$color-section-border: $color-primary-dark;

// Dashboard
$color-chart-bg: $color-primary;
$color-chart-border: $color-primary;
$color-canvas-bg: $color-light;

// Forms
$color-form-input-bg: $color-light;
$color-form-input-bg--disabled: #eee;
$color-form-input-valid: #55c57a;
$color-form-input-invalid: #ed4337;
$color-form-input-placeholder: $color-gray;
$color-form__group-bg: $color-primary;

// Buttons
$color-btn: #fff;
$color-btn-border: $color-primary-light;
$color-btn-text: $color-dark;
//$color-btn-focus-bg: $color-btn;
$color-btn--delete-bg: $color-alert-fail;
$color-btn--save-bg: $color-alert-pass;

// Common sizes
$main-height: 90vh;
$border-radius: 1.5rem;
