$color-primary: #88bb92;
$color-primary-light: #97c3a5;
$color-primary-dark: #599b67;
$color-dark: #000000;
$color-light: #fff;

$color-section-border: $color-dark;
$color-table-rows: $color-primary-light;
$color-table-borders: $color-dark;
$color-grid-borders: $color-dark;
$color-select-highlight: $color-primary-dark;
$color-form-input-bg: $color-light;
$color-form-input-valid: #55c57a;
$color-form-input-invalid: #ff7730;
$color-form-input-placeholder: #bbb;
$color-btn: #fff;
$color-btn-text: black;
$color-btn-focus-bg: $color-btn;
$color-btn-focus-outline: $color-primary-dark;
